# byte-compiled / optimized files
__pycache__/
*.py[cod]

# dev / testing directories
/config*
/dev_env*
/frontend/test_js/**

# venv
env
venv
venv-local
venv-docker

# editor directories and files
.vscode
.idea
