# byte-compiled / optimized files
__pycache__/
*.py[cod]

# dev / testing directories
/dev_env*
/frontend/test_js/**

# venv
env
venv*

# temp files
/temp
/tmp

# editor directories and files
.vscode
.idea
