# byte-compiled / optimized files
__pycache__/
*.py[cod]

# dev / testing directories
/config*
/frontend/test_js/**

# venv
env
venv

# migrations
migrations

# editor directories and files
.vscode
.idea
